{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Period Tracker</title>
    <link rel="stylesheet" href="{%static 'nextPeriod.css'%}">
</head>
<body>

    <header class="header">
		<div class="container">
			<div class="header-main">
				<div class="logo">
					<a href="/"><img src="{%static 'logo.png'%}" width="75vh"></a>
				</div>
				<div class="open-nav-menu">
					<span></span>
				</div>
				<div class="menu-overlay">
				</div>
				<!-- navigation menu start -->
				<div class="nav-menu">
					<div class="close-nav-menu">
						<img src="{%static 'close.svg'%}" alt="close">
					</div>
					<ul class="menu">
						<li class="menu-item menu-item-has-children">
							<a href="MenstrualAwareness" data-toggle="sub-menu">Menstrual Awarness</a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="homeRemedies">Home Remedies</a></li>
								<li class="menu-item"><a href="">Anganbadi And Ngo</a></li>
								<li class="menu-item"><a href="skinChange">Skin And Hair</a></li>
								<li class="menu-item"><a href="#">Diet and Exercise</a></li>
								<li class="menu-item"><a href="#">Bleeding</a></li>
								<li class="menu-item"><a href="#">Emotions</a></li>
								<li class="menu-item"><a href="doDont">Do's and Dont's</a></li>
								<li class="menu-item"><a href="quiz">Quizes</a></li>
								<li class="menu-item"><a href="menopause">Menopause</a></li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a href="#" data-toggle="sub-menu">Product </a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="#">Menstruation</a></li>
								<li class="menu-item"><a href="#">Pregnancy Kits</a></li>
	
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a href="#" data-toggle="sub-menu">Track </a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="pcosHome">PCOS Prediction</a></li>
								<li class="menu-item"><a href="ovulation">Ovulation Tracker</a></li>
								<li class="menu-item"><a href="nextPeriod">Period Calculator</a></li>
								<li class="menu-item"><a href="pregnancyTracker">Pregnancy test calculator</a></li>
	
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a href="#" data-toggle="sub-menu">Health Condition </a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="#">Cancer</a></li>
								<li class="menu-item"><a href="#">PCO's</a></li>
								<li class="menu-item"><a href="#">Others</a></li>
								<li class="menu-item"><a href="#">Consult / Find a Doctor</a></li>
	
							</ul>
						</li>
	
						<li class="login">
							<a href="login" class="login_a">Login</a>
							<!-- <button class="login_a">Login</button> -->
						</li>
	
						<li class="menu-item">
							<a id="menu-item-discuss" href="discussionForum" style="border-radius: 0.4rem;">Discuss</a>
						</li>
					</ul>
				</div>
				<!-- navigation menu end -->
			</div>
		</div>
	</header>
	<!-- header end -->

    <div id="container">
        <h1>Period Tracker</h1>
        <form id="form" onsubmit="openPopup()">
            <label for="last-period-date">Last Period Date:</label>
            <input type="text" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'" id="last-period-date" name="last-period-date"   required>

            <label for="cycle-length">Cycle Length:</label>
            <input type="number" id="cycle-length" name="cycle-length" required>

            <label for="period-length">Period Length:</label>
            <input type="number" id="period-length" name="period-length" required>

            <button type="submit" class="btn_res" >Calculate</button>
            
        </form>
       
</div>
<div id="bg_blur">
</div>
    <div class="popup" id="popup">
        <img src="{%static 'calender.png'%}" alt="">
        <div id="result"></div>
        
        <button type="button" onclick="closePopup()">OK</button>
    </div>

    <script src="{%static 'nextPeriod.js'%}"></script>
    <script>
        let popup = document.getElementById("popup");
        let blur=document.getElementById("bg_blur");

        // e.preventDefault();
        function bluropen(){
            blur.style.display="block"; 
        }
        function openPopup(){
           bluropen();
           popup.style.visibility="visible" ;
           popup.style.top="50%" ;
           popup.style.transform="translate(-50%,-50%) scale(1)";
           
        }
        function closePopup(){
            blur.style.display="none";
            popup.style.visibility="hidden" ;
           popup.style.top="0" ;
           popup.style.transform="translate(-50%,-50%) scale(0.1)";
        }

    </script>
      
</body>
   

